[submodule "lisp/powerline"]
	path = lisp/powerline
	url = https://github.com/milkypostman/powerline
[submodule "lisp/emacs-color-theme-solarized"]
	path = lisp/emacs-color-theme-solarized
	url = git@github.com:dorant/emacs-color-theme-solarized.git
	branch = fixes
[submodule "lisp/asn1-mode"]
	path = lisp/asn1-mode
	url = https://github.com/kawabata/asn1-mode.git
